


@font-face {
    font-family: $ff-PoppinsRegular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: $ff-PoppinsMedium;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: $ff-PoppinsSemiBold;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: $ff-PoppinsBold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: $ff-NunitoBold;
    src: url(../fonts/Nunito/static/Nunito-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}





