
$color-white: #ffffff;
$color-black: #212121;
$color-blue: #2D76F9;
$color-bg: #D6E5FD;


$ff-PoppinsRegular: 'Poppins-Regular';
$ff-PoppinsMedium: 'Poppins-Medium';
$ff-PoppinsSemiBold: 'Poppins-SemiBold';
$ff-PoppinsBold: 'Poppins-Bold';

$ff-NunitoBold: 'Nunito-Bold';
