
#features{
    min-height: 438px;
    padding-top: 150px;
}

.features__card{
    display: flex;
    flex-direction: column;
    max-width: 387px;
    height: 288px;
  
    &--img{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: $color-bg;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--title{
        @include font-style(24px, $ff-PoppinsBold, $color-black);
        margin-top: 50px;
        margin-bottom: 30px;
    }
    &--text{
        @include font-style(18px, $ff-PoppinsRegular, $color-black);
        line-height: 36px;
    }
    &:hover{
        box-shadow: 0 0 12px silver;
    }
}
