
#download{
    min-height: 650px;
    padding-top: 150px;
}

.download-wrapper{
    background-color: $color-blue;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    row-gap: 95px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
    &::after{
        content: "";
        width: 250px;
        height: 220px;
        background-image: url(../icons/ellipse.svg);
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        opacity: 0.3;
    }
    &::before{
        content: "";
        width: 290px;
        height: 220px;
        background-image: url(../icons/ellipse.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: rotate(-180deg);
        opacity: 0.3;
    }
}
.download__title{
    @include font-style(36px, $ff-PoppinsSemiBold, $color-white);
    line-height: 65px;
    max-width: 750px;
    text-align: center;
}
.download__btns{
    display: flex;
    gap: 50px;
    
}
.download__btn{
    @include font-style(18px, $ff-PoppinsMedium, $color-white);
    background-color: transparent;
    border: 1px solid $color-white;
    border-radius: 50px;

    width: 250px;
    height: 75px;
}

.btn-bg{
    background-color: $color-white;
    color: $color-blue;
}